body{
 margin:0;font-size:14px;
 background-color:#b1c7c7;
  font-family: system-ui, sans-serif;
}
html{
  font-size:14px;
  font-family: system-ui, sans-serif;
  }
a {
	color: #00cc00;
}
pre{
  background-color: #cccc00;
  color : #00cc00;

}
textarea{
  background-color: #fffacd;
  color : #00cc00;
}



