html, body {
  margin: 0;
  padding: 0; }

html {
  background-color: #ddd;
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 2em; }

h2 {
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
  margin: 20px 0; }

h1, h2, article {
  color: black; }

a {
  text-decoration: none;
  color: #006BB7; }

a:hover {
  text-decoration: underline; }

body {
  margin: 0 auto;
  padding: 0 32px 0 16px;
  max-width: 1200px;
  min-height: 100%;
  border-width: 0 1px;
  border-color: #aaa;
  border-style: solid;
  background-color: white;
  font-family: 'Open Sans', sans-serif; 
  box-shadow: 0 0 10px 10px #ccc;
  display: flex;
  flex-direction: column; }

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1; }

footer {
  text-align: center;
  font-size: 0.8em;
  color: grey;
  padding-bottom: 1em; }

#sidebarBarNav {
  flex: 0 0 10em;
  padding-top: 5em;
  font-size: 0.9rem; }

#sidebarBarNav a {
  display: block;
  text-transform: uppercase;
  padding: 0.4em;
  border-left: 2px solid white;
  transition: color 300ms linear, border-color 300ms linear;
  color: grey; }

#sidebarBarNav a:hover {
  color: black;
  border-color: black;
  text-decoration: none; }

#sidebarBarNav section {
  padding-bottom: 1em; }

article {
  flex: 1 1 100%;
  min-width: 200px; }

.tag {
  display: inline-block;
  padding: 0.2em 0.3em;
  border-radius: 0.3em;
  border: 1px solid #377CD5;
  color: #377CD5;
  background-color: #d5e6fa;
  text-shadow: 1px 1px #fff;
  text-transform: capitalize;
  margin: 0 0.2em;
  font-size: 12px; }

#publicationDate {
  color: grey;
  font-size: 0.8em;
  padding-top: 0.5em; }

.centeredText {
  text-align: center; }

pre {
  background-color: #ffff00;
  border: 1px solid #000;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
font-family: 'Open Sans', sans-serif; 
  font-size: 13px; }

code {
  background-color: #F8F8F8;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 14px;
  padding: 3px 5px 1px 5px;
  border-radius: 3px;
  border: 1px solid #CCC; }

.monospace {
  font-family: Consolas, "Liberation Mono", Courier, monospace; }

.manText {
  white-space: pre-wrap;
  font-family: monospace;
  border: 1px dotted;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }

.bookmarklet {
  border: 1px dotted green;
  color: green;
  font-size: 0.8em;
  background-color: #AFA;
  padding: 4px;
  text-decoration: none;
  font-weight: bold;
  cursor: move;
  margin-bottom: 0.2em;
  line-height: 20px; }

.bookmarklet:hover {
  text-decoration: none; }

img.centered {
  display: block;
  margin: 0 auto; }

p.announce {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: #eee;
  font-size: 0.9em;
  text-align: center; }

blockquote {
  font-style: italic; }

img.fancyimage {
  box-shadow: 5px 5px 5px #888; }
  img.fancyimage.bordered {
    border: 1px solid grey; }

.smallText {
  font-size: 10px; }

.videoControls {
  padding: 16px 0 12px 0;
  border-top: 1px solid lightgray;
  background-color: #f8f8f8;
  text-align: center; }
  .videoControls img {
    cursor: pointer;
    margin: 0 5px;
    width: 18px;
    height: 18px; }

noscript div {
  color: red;
  border: 2px solid red;
  background-color: #fcc;
  font-size: 24px;
  text-align: center;
  padding: 5px;
  margin: 10px 0; }

#sidebarBarNav a.downloadLink {
  background: no-repeat top 5px right 7px url("../assets/images/download.png");
  padding: 5px 5px 5px 10px;
  margin: 5px 15px 5px 5px;
  border: 1px solid #1d467b;
  color: white;
  background-color: #377cd5;
  border-radius: 5px;
  transition: background-color 300ms linear; }
  #sidebarBarNav a.downloadLink:hover {
    background-color: #1d467b; }

#mobileMenuButton {
  display: none;
  position: absolute;
  top: 5px;
  right: 0px;
  background: no-repeat center center url("../assets/images/hamburger.png");
  background-size: 32px 32px;
  height: 50px;
  width: 50px; }

img {
  max-width: 100%;
  height: auto; }

a.gifLink {
  padding-left: 25px;
  background: no-repeat left center url("../assets/images/video.png");
  background-size: 20px; }

.gifLinkContainer {
  text-align: center; }

/* phones */
@media screen and (min-width: 480px) and (max-width: 800px) {
  #sidebarBarNav {
    flex-basis: 7em; }
    #sidebarBarNav a.downloadLink {
      padding: 5px;
      margin: 5px;
      background-image: none; } }

/* phones */
@media screen and (max-width: 479px) {
  body {
    padding: 0 16px; }
  main {
    flex-direction: column; }
  #sidebarBarNav {
    display: none;
    text-align: center;
    padding-top: 50px; }
    #sidebarBarNav a {
      border: 2px solid black;
      border-radius: 5px;
      padding: 5px;
      margin: 10px 5px;
      color: black;
      font-size: 16px; }
    #sidebarBarNav a.downloadLink {
      padding: 5px;
      margin: 5px;
      background-image: none; }
  #sidebarBarNav.open {
    display: block; }
  h1, h2, nav#tagList, #publicationDate {
    text-align: center;
    margin-top: 0; }
  h1 {
    margin-top: 12px;
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px; }
  h2 {
    font-size: 20px; }
  h1, h2 {
    margin-bottom: 10px; }
  #content {
    margin: 0;
    overflow-x: hidden; }
  #mobileMenuButton {
    display: block; }
  ul {
    padding-left: 20px; } }

@media print {
  #sidebarBarNav, #tagList, h1 {
    display: none; }
  body {
    margin: 0;
    max-width: 100%;
    color: black; }
  #publicationDate {
    padding: 0;
    margin: 5px 0; }
  h2 {
    margin-bottom: 10px; } }

