*, *::before, *::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  color: #7F32DC;
  font-size: 16px;
  font-family: system-ui, sans-serif;
}

a {
  color: #5050B3;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid currentColor;
}

table {
  text-align: left;
    font-size: 14px;
  white-space: nowrap;
  border-collapse: collapse;
}

table tr:hover {
  background-color: #FFEDBF;
}

table tr .indexcolicon a {
  border: none;
}

main {
  margin: 0 auto;
  padding: 1rem 1rem;
  max-width: 57rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 0;
}

.title .js-path a {
  padding: 0 0.25rem 0;
  text-decoration: none;
}

footer,
address {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  opacity: 0.875;
}
