@import 'common.css';

table tr {
  border-bottom: 1px solid #2aa198;
}

table tr.indexhead {
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

table tr .indexcolname {
  width: 100%;
}

table tr.indexhead,
table tr.indexhead:hover {
  background-color: transparent;
}

table tr.indexhead a {
  font-weight: normal;
  font-size: 0.875rem;
}

table tr .indexcolname a,
table tr .indexcollastmod a,
table tr .indexcolsize a {
  border-bottom: 1px solid transparent;
}

table tr .indexcolname a:hover,
table tr .indexcollastmod a:hover,
table tr .indexcolsize a:hover {
  border-bottom: 1px solid currentColor;
}

table tr.even-parentdir a {
  font-weight: 500;
}

table tr .indexcollastmod,
table tr .indexcolsize {
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem;
}

table th,
table td {
}

table tr .indexcolsize {
  text-align: right;
}

table tr .indexcolicon img {
  width: 1rem;
}

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
